/* Coolors Exported Palette - coolors.co/ea3e35-f08700-f49f0a-efca08-dcf2b0 */

/* HSL */
// $color1: hsla(3%, 81%, 56%, 1);
// $color2: hsla(34%, 100%, 47%, 1);
// $color3: hsla(38%, 92%, 50%, 1);
// $color4: hsla(50%, 94%, 48%, 1);
// $color5: hsla(80%, 72%, 82%, 1);

/* RGB */
$color1: rgba(234, 62, 53, 1); //red
$color2: rgba(240, 135, 0, 1); //orange
$color3: rgba(244, 159, 10, 1); //lighter orange
$color4: rgba(239, 202, 8, 1); //yellow
$color5: rgba(255, 254, 200, 1) //lighter yellow